body{

color:green;
font-family: Verdana, Arial, Geneva, Arial Black;
font-weight: normal;
background-color: #ffcf79;
font-size: 20px; 

}

h1 {

text-decoration: underline;
font-size: 150%;
text-align: center;

}

h2 {

text-align: center;
text-decoration: underline;
font-size: 1.2em;

}


h3 {

text-decoration: underline;

}


p.paragraph{

font-size: 15px;
line-height: 1.5em;
background-color: #e5e4d7;
padding: 20px 20px 20px 20px;
border: black 2px solid;
background-image: url(cloud-daynight.png);
border-radius: 20px;
}

#parraf4homepage {

font-size: 15px;
line-height: 1.5em;
background-color: #e5e4d7;
padding: 20px;
border-color: #296A64;
border-width: thick;
border-style: ridge;
margin: 20px;
margin-left: 400px;
height: 100px;
overflow: scroll;
}

img.image {

display: block;
text-align:center;
margin-left: auto;
margin-right: auto;
padding: 2px;
border-color: black;
border-width: 2px;
border-style: solid;
border-radius: 100px;
}

#divmain {

color:black;
}

#divseccion {

color:black;

}

.highlight{

background-color:#ffff00;

}

.divcontent {

color:black;

}

div.div1 {

color: white;
border: black;
background-color: green;
width:20%;
float:left;

}

div.div2 {

background-color: black;
color:white;

position: absolute;

top: 200px;
left: 1200px;
width: 200px;
height: 90px;

}

div.div3 {

background-color: purple;
color:white;

position: fixed;

top: 300px;
right: 1300px;

}

<!-- Las 3 llaves de abajo se pueden considerar como estados
	del link que esten afectados -->

a:link {

color: blue;

}

a:visited {

color: #8C8c9D;

}

a:hover {

color: #F15A51;

}
